name: CI
on:
  pull_request:
jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm install
      - run: npm run gen
      - run: git add .
      - run: npm run build
      # Generate the OpenAPI spec. Yes, npm run test generates it.
      - run: npm run test
        env:
          ZOO_API_TOKEN: ${{ secrets.KITTYCAD_TOKEN }}
          ZOO_HOST: "https://api.dev.zoo.dev/"
      - name: Commit generated files
        id: pr-commit
        uses: KittyCAD/gha-actions-public/pr-commit@main
        with:
          app-id: ${{ secrets.GH_ORG_APP_ID }}
          private-key: ${{ secrets.GH_ORG_APP_PRIVATE_KEY }}
          commit-message: "I have generated the latest API!"
      - name: Bump package.json version
        if: steps.pr-commit.outputs.commited == 'true'
        run: |
          npm version patch
          # This uses the authentification setup by pr-commit
          git push origin "$BRANCH"
        env:
          BRANCH: ${{github.event.pull_request.head.ref }}
